
<h1>edit book</h1>
<form action="/books/<%= book.id %>?_method=PUT" method= "POST">
    <%- include('_form-field.ejs') %> 
    <a href="/books">cancel</a>
    <button class="btn btn-primary" type="submit">update</button>
</form>