
<header>
    <a href="/">My Superary</a>
    <nav>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">new authors</a></li>
        </ul>
    </nav>
</header>