
<header>
    <a href="/">
        <img src="../../public/images/node-logo-white.png" alt="">
    </a>
    <nav>
        <ul>
            <li><a href="/books">books</a></li>
            <li><a href="/books/new">new books</a></li>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">new authors</a></li>
        </ul>
    </nav>
</header>