
<h1 class="page-title">Edit Author</h1>

<form class="form" action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form-field') %> 
    <div class="btn-container-row">
        <a class="btn btn-cancel un-link" href="/authors">cancel</a>
        <button class="btn btn-primary" type="submit">update</button>
    </div>
</form>
